header.header 
    a(href="/").logo.align-center
        img(src="/./images/logo.png", alt="logo")
        .logo-name ak digital 
            .sub-logo-name media
    nav.nav-main 
        ul.navbar
            li: a(href="/") home
            li: a(href="/about") about
            li: a(href="#") services
            li: a(href="#") projects
            li: a(href="#") our team
            li: a(href="#") contact 
        .nav-social 
            .logo.align-center
                img(src="/./images/logo.png", alt="logo")
                .logo-name ak digital 
                    .sub-logo-name media
            .socials.align-center 
                a(href="https://www.facebook.com/profile.php?id=61556794866402",target="_blank")
                    img(src="/./images/facebook-icon.svg", alt="alt")
                a(href="https://www.instagram.com/chandra_academy__?igsh=MTd3czd2d2Fyb3F1eA==",target="_blank")
                    img(src="/./images/insta-icon.svg", alt="alt")
                a(href="/")
                    img(src="/./images/whatsapp-icon.svg", alt="alt")
                a(href="https://www.youtube.com/@ChandraAcademy.", target="_blank")
                    img(src="/./images/youtube-icon.svg", alt="alt")
    .toggle(onclick="toggleFun()") 
        span.first
        span.second 
        span.third
        
