extend base

block content
    .about-container
        include _header
        .page-heading.about-page-heading
            h3.page-name about us
            .page-links 
                a(href="/") home |
                a(href="#") about  
        .about-main 
            .about-main-left 
                img(src="/./images/profile.png", alt="")
                .sub-about 
                    b sub about 
                    p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam voluptatem deleniti illo provident, laboriosam a tenetur vero praesentium commodi?
            .about-main-right 
                h3.page-sub-heading about
                a(href="/").logo
                    img(src="/./images/logo.png", alt="logo")
                    .logo-name ak digital 
                        .sub-logo-name media 
                p.para Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus neque ratione harum fugit quod. Perferendis dicta earum fuga est quia explicabo labore excepturi! Illum, iste? Eveniet perferendis porro ipsa voluptatem reiciendis, eaque mollitia et, similique aliquid sint ipsum nemo excepturi veritatis commodi rem animi facilis nostrum inventore? Quos, commodi minima.lorem23 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas exercitationem veritatis illum quaerat nam, odit quis repellendus voluptatem eum magnam, cupiditate ducimus.
        .about-why 
            .about-why-left 
                h3.page-sub-heading why ak digital media?
