extend base

block content 
    section.home 
        include _header
        .hero-main.align-center 
            .hero-left.anim 
                span.sub welcome to
                h1 ak digital media
                p.para Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore id eum quos nihil tenetur provident omnis nisi vel ex aperiam, pariatur reprehenderit alias.
                button.btn learn more >
            .hero-right.align-center
                img(src="/./images/profile.png", alt="")
                span.profile1 415+ projects
                span.profile2 349+ clients
                span.profile3 20+ members
                span.profile4 
                span.profile5 
        .hero-bottom.align-center 
            .bottom-container
                .bottom-box 
                    img(src="/./images/ad-paid.svg", alt="")
                    .sub-box 
                       h3 Advertising
                       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quaerat. 
                .bottom-box 
                    img(src="/./images/ad-paid.svg", alt="")
                    .sub-box 
                       h3 Advertising
                       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quaerat. 
                .bottom-box 
                    img(src="/./images/ad-paid.svg", alt="")
                    .sub-box 
                       h3 Advertising
                       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quaerat. 
    section.service 
        .align-center
            h2 our services
        .service-container
            .service-box 
                img(src="/./images/img1.png", alt="")
                .service-info 
                    h3 video ads 
                    p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi tempore, ipsa distinctio nesciunt reiciendis? .
            .service-box 
                img(src="/./images/img1.png", alt="")
                .service-info 
                    h3 video ads 
                    p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi tempore, ipsa distinctio nesciunt reiciendis? .
            .service-box 
                img(src="/./images/img1.png", alt="")
                .service-info 
                    h3 video ads 
                    p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi tempore, ipsa distinctio nesciunt reiciendis? 
            .service-box 
                img(src="/./images/img1.png", alt="")
                .service-info 
                    h3 video ads 
                    p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi tempore, ipsa distinctio nesciunt reiciendis? 
            .service-box 
                img(src="/./images/img1.png", alt="")
                .service-info 
                    h3 video ads 
                    p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi tempore, ipsa distinctio nesciunt reiciendis? 
            .service-box 
                img(src="/./images/img1.png", alt="")
                .service-info 
                    h3 video ads 
                    p.para Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi tempore, ipsa distinctio nesciunt reiciendis?
    section.project
        .align-center
            h2 our projects
        .project-container 
            .project-box.project-box-1 
                .project-info 
                    h3 page management
            .project-box.project-box-2 
                .project-info
                    h3 video advertising
            .project-box.project-box-3 
                .project-info 
                    h3 website development
    section.team 
        .align-center
            h2 our team
        .team-container
            .align-center
                .team-box.team-leader.align-center
                    .team-img 
                        img(src="/./images/profile.png", alt="") 
                    h3.team-name team leader
                    p.para-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ad magnam ipsum, voluptatum laboriosam cum?

            .team-main 
                .team-box
                    .team-img 
                        img(src="/./images/default-user.png", alt="") 
                    h3.team-name team member
                    h3.team-name (abc)
                    
                .team-box 
                    .team-img 
                        img(src="/./images/default-user.png", alt="")
                    h3.team-name team member
                    h3.team-name (abc, xyz)
                .team-box
                    .team-img 
                        img(src="/./images/default-user.png", alt="")
                    h3.team-name team member
                    h3.team-name (abc)
                   
                .team-box
                    .team-img 
                        img(src="/./images/default-user.png", alt="")
                    h3.team-name team member
                    h3.team-name (xyz)
                    
            .align-end
                a.btn(href="#") see more
    section.contact 
        .contact-container 
            .contact-left 
                .logo
                    img(src="/./images/logo.png", alt="logo")
                    .logo-name ak digital 
                        .sub-logo-name media
                .contact-main
                    p.contact-para Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, delectus. Sit aliquam maxime velit tenetur perferendis nostrum fuga. Incidunt officia repellendus culpa!
            .contact-right 
                .map 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14915.081650165374!2d83.8974901!3d20.8409755!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a23e7a9cbf2ef9f%3A0xef56e20b8662d4a4!2sAk%20Digital%20Media!5e0!3m2!1sen!2sin!4v1714726284152!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>