header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 10vh;
    background-color: transparent;
    position: relative;
    transition: 0.5s;
}
.logo{
    display: flex;
    gap: 5px;
}

.logo img {
    width: 42px;
}

.navbar {
    display: flex;
    gap: 2rem;

}

.navbar li a {
    position: relative;
}

.navbar li a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-image: linear-gradient(45deg, var(--primery-color), var(--secondary-color));
    position: absolute;
    bottom: -4px;
    left: 50%;
    transition: 0.4s;
}

.navbar li a:hover:after {
    width: 100%;
    left: 0;
}

.toggle {
    cursor: pointer;
    width: 35px;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.toggle span {
    height: 3px;
    width: 100%;
    background-color:var(--secondary-color);
    border-radius: 3px;
    transition: 0.4s;
}

.active .first {
    transform: translateY(8px) rotateZ(135deg);
}

.active .third {
    transform: translateY(-8px) rotateZ(-135deg)
}

.active .second {
    transform: translateX(100%);
    opacity: 0;
}

.nav-social {
    display: none;
}

/* home section------------------------------- */
.home {
    min-height: 100vh;
    /* background-image: url("../images/wave.svg"); */
    background-color: var(--theme-color);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.hero-main {
    flex-wrap: wrap-reverse;
    padding: 5%;
    gap: 2rem;
}

.hero-left {
    flex: 1 1 400px;
    padding: 5rem 0;

}

.hero-right {
    flex: 1 1 400px;
    position: relative;
}

.hero-right img {
    display: block;
    background-image: radial-gradient(closest-side,rgb(0, 26, 110),transparent);
    width: 80%;
    position: relative;
}

.hero-right span {
    position: absolute;
    background-image: linear-gradient(45deg, #2f79e0, #2fc0e0);
    padding: 15px;
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 600;
}

.profile1 {
    left: 10%;
    bottom: 30%;
    border-radius: 10px;
}

.profile2 {
    right: 10%;
    bottom: 60%;
    border-radius: 10px;
}

.profile3 {
    left: 60%;
    bottom: 10%;
    border-radius: 10px;
}

.profile4, .profile5 {
    height: 1px;
    width: 1px;
    opacity: 0.6;
}

.profile4 {
    left: 20%;
    bottom: 10%;
    border-radius: 50%;
    animation: profileanim infinite alternate-reverse 1s;
}

.profile5 {
    right: 20%;
    bottom: 40%;
    border-radius: 50%;
    animation: profileanim infinite alternate-reverse 1s;
    animation-delay: 0.5s;

}

@keyframes profileanim {
    0% {
        transform: scale(0);
        opacity: 0;

    }

    100% {
        transform: scale(1.7);
        opacity: 0.6;
    }
}
/* .hero-bottom{

    background-color: blueviolet;
} */

.anim{
    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease-in;
}
.animundo{
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
}
.bottom-container{
    width: 80%;
    background-color: var(--primery-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}
.bottom-box{
    flex: 1 1 200px;
    background-color: var(--secondary-color);
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    .sub-box p{
        line-height: 100%;
        font-size: 0.8em;
        color: var(--text-color);
    }
}
.service{
    min-height: 100vh;
    padding: 3rem 5%;
    background-color: var(--theme-color);
}
.service-container{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}
.service-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* background-color: #e02f2f; */
    border-radius: 10px;
    border: 1px solid white;
    background-image: radial-gradient(closest-side,var(--primery-color),transparent);

}
.service-box img{
    width: 60%;
    /* background-color: aqua; */
}
.service-info .para{
    line-height: 110%;
}
.project{
    background-color: var(--theme-color);
    min-height: 100vh;
    padding: 3rem 5%;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    padding: 5%;
    gap: 2rem;
}
.project-box {
    flex: 1 1 400px;
    height: 50vh;
    border-radius: 10px;
    position: relative;
    background-position: 40% 60%;
    background-size: cover;
}
.project-box-1{
    background-image: linear-gradient(45deg,rgba(0, 0, 219, 0.226),rgba(0, 146, 219, 0.204)),url("/./images/page-management.jpg");
}
.project-box-2{
    background-image: linear-gradient(45deg,rgba(0, 0, 219, 0.226),rgba(0, 146, 219, 0.204)),url("/./images/page-management.jpg");
}
.project-box-3{
    background-image: linear-gradient(45deg,rgba(0, 0, 219, 0.226),rgba(0, 146, 219, 0.204)),url("/./images/page-management.jpg");
}
.project-info{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.team{
    min-height: 100vh;
    background-color: var(--theme-color);
}
.team-container{
    padding: 5%;
}

.team-main {
    padding: 5%;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

}
.team-main::-webkit-scrollbar{
    display: none;
}
.team-leader {
    max-width: 300px;
}

.team-box {
    min-width: 200px;
    flex-direction: column;
    position: relative;
    scroll-snap-align: center;
    line-height: 10px;
}

.team-img {
    position: relative;
    border-radius: 50%;
}
.team-heading{
    margin-top: 20px;
}

.team-img img {
    width: 100%;
    border-radius: 50%;
    background-image: radial-gradient(var(--secondary-color),var(--primery-color));
}
.team-img::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.526);
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    z-index: 2;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    transition: 0.5s;
}

.team-img::before {
    content: "";
    box-sizing: border-box;
    border: 15px solid rgba(255, 255, 255, 0.433);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    transition: 0.5s;
}

.team-img:hover::before {
    border: 0px solid white;
}

.team-img:hover::after {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.team-name {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    color:  var(--text-color);
}
.contact-container{
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 118, 154, 0.712),rgba(0, 118, 154, 0.731)),url("/./images/contactus.jpg");
    background-size: cover;
    background-position: 40% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact-para{
    color:  var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
}
.contact-left{
    flex: 2 1 300px;
}
.contact-right{
    flex: 1 1 200px;
    border-radius: 10px;
}
.map iframe{
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    border-radius: 10px;
}


/* about-page--------------------------------------------- */
.about-container{
    background-color: var(--theme-color);
    height: auto;
}
.about-page-heading{
    background-image: linear-gradient(rgba(0, 0, 0, 0.41),rgba(0, 0, 0, 0.406)),url("../images/contactus.jpg");
}
.about-main{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

}
.about-main-left{
    flex: 1 1 300px;
    position: relative;
    /* background-color: aquamarine; */
}
.sub-about{
    max-width: 250px;
    position: absolute;
    right: 0;
    bottom: -50px;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(65, 65, 65, 0.361);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.532);
    p{
        text-align: justify;
        margin-top: 10px;
    }
    b{
        font-size: 1.3rem;
        text-transform: capitalize;
    }
}
.about-main-right{
    flex: 2 1 300px;
    padding: 3rem 5%;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p{
        line-height: 100%;
    }
}

.about-main-left img{
    /* width: 150px; */
    width: 80%;
    background-image: radial-gradient(var(--primery-color),var(--secondary-color));
    border-radius: 10px;
}
.about-why {
    padding: 5%;
}
.page-sub-heading{
    /* background-color: aquamarine; */
    padding-left: 20px;
    border-left: 8px solid var(--secondary-color);
}